In [37]:
import pandas as pd
import numpy as np
df=pd.read_csv("sales.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   400 non-null    int64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
 11  high         400 non-null    object
dtypes: int64(8), object(4)
memory usage: 37.6+ KB

In [3]:
df.head()

,Unnamed: 0,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,high
0,1,138,73,11,276,120,Bad,42,17,Yes,Yes,yes
1,2,111,48,16,260,83,Good,65,10,Yes,Yes,yes
2,3,113,35,10,269,80,Medium,59,12,Yes,Yes,yes
3,4,117,100,4,466,97,Medium,55,14,Yes,Yes,no
4,5,141,64,3,340,128,Bad,38,13,Yes,No,no

In [4]:
y=df["high"]

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le=LabelEncoder()

In [7]:
df["ShelveLoc"]=le.fit_transform(df["ShelveLoc"])
df["Urban"]=le.fit_transform(df["Urban"])
df["US"]=le.fit_transform(df["US"])

In [8]:
df.head()

,Unnamed: 0,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,high
0,1,138,73,11,276,120,0,42,17,1,1,yes
1,2,111,48,16,260,83,1,65,10,1,1,yes
2,3,113,35,10,269,80,2,59,12,1,1,yes
3,4,117,100,4,466,97,2,55,14,1,1,no
4,5,141,64,3,340,128,0,38,13,1,0,no

In [10]:
x=df.drop("high",axis=1)

In [11]:
x

,Unnamed: 0,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,1,138,73,11,276,120,0,42,17,1,1
1,2,111,48,16,260,83,1,65,10,1,1
2,3,113,35,10,269,80,2,59,12,1,1
3,4,117,100,4,466,97,2,55,14,1,1
4,5,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,396,138,108,17,203,128,1,33,14,1,1
396,397,139,23,3,37,120,2,55,11,0,1
397,398,162,26,12,368,159,2,40,18,1,1
398,399,100,79,7,284,95,0,50,12,1,1
399,400,134,37,0,27,120,1,49,16,1,1

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
ss=StandardScaler()

In [14]:
new_x=ss.fit_transform(x)

In [16]:
new_x=pd.DataFrame(new_x,columns=x.columns)

In [17]:
new_x

,Unnamed: 0,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,-1.727726,0.850455,0.155361,0.657177,0.075819,0.177823,-1.570698,-0.699782,1.184449,0.646869,0.741881
1,-1.719066,-0.912484,-0.739060,1.409957,-0.032882,-1.386854,-0.369399,0.721723,-1.490113,0.646869,0.741881
2,-1.710406,-0.781896,-1.204159,0.506621,0.028262,-1.513719,0.831899,0.350895,-0.725953,0.646869,0.741881
3,-1.701745,-0.520720,1.121336,-0.396715,1.366649,-0.794814,0.831899,0.103677,0.038208,0.646869,0.741881
4,-1.693085,1.046337,-0.166631,-0.547271,0.510625,0.516132,-1.570698,-0.947000,-0.343872,0.646869,-1.347925
...,...,...,...,...,...,...,...,...,...,...,...
395,1.693085,0.850455,1.407551,1.560513,-0.420131,0.516132,-0.369399,-1.256023,0.038208,0.646869,0.741881
396,1.701745,0.915749,-1.633482,-0.547271,-1.547909,0.177823,0.831899,0.103677,-1.108033,-1.545908,0.741881
397,1.710406,2.417512,-1.526151,0.807733,0.700853,1.827078,0.831899,-0.823391,1.566529,0.646869,0.741881
398,1.719066,-1.630719,0.370022,0.054953,0.130170,-0.879391,-1.570698,-0.205346,-0.725953,0.646869,0.741881
399,1.727726,0.589279,-1.132606,-0.998939,-1.615848,0.177823,-0.369399,-0.267150,0.802369,0.646869,0.741881

In [20]:
new_x.drop("Unnamed: 0",axis=1,inplace=True)

In [21]:
new_x

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,0.850455,0.155361,0.657177,0.075819,0.177823,-1.570698,-0.699782,1.184449,0.646869,0.741881
1,-0.912484,-0.739060,1.409957,-0.032882,-1.386854,-0.369399,0.721723,-1.490113,0.646869,0.741881
2,-0.781896,-1.204159,0.506621,0.028262,-1.513719,0.831899,0.350895,-0.725953,0.646869,0.741881
3,-0.520720,1.121336,-0.396715,1.366649,-0.794814,0.831899,0.103677,0.038208,0.646869,0.741881
4,1.046337,-0.166631,-0.547271,0.510625,0.516132,-1.570698,-0.947000,-0.343872,0.646869,-1.347925
...,...,...,...,...,...,...,...,...,...,...
395,0.850455,1.407551,1.560513,-0.420131,0.516132,-0.369399,-1.256023,0.038208,0.646869,0.741881
396,0.915749,-1.633482,-0.547271,-1.547909,0.177823,0.831899,0.103677,-1.108033,-1.545908,0.741881
397,2.417512,-1.526151,0.807733,0.700853,1.827078,0.831899,-0.823391,1.566529,0.646869,0.741881
398,-1.630719,0.370022,0.054953,0.130170,-0.879391,-1.570698,-0.205346,-0.725953,0.646869,0.741881
399,0.589279,-1.132606,-0.998939,-1.615848,0.177823,-0.369399,-0.267150,0.802369,0.646869,0.741881

In [28]:
X=new_x[["CompPrice","Income","Advertising","Population","Price","ShelveLoc","Age","Education","Urban","US"]]
y=df["high"]

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [39]:
dt=DecisionTreeClassifier(criterion="entropy")

In [40]:
dt_model=dt.fit(x_train,y_train)

In [41]:
y_train_pred=dt_model.predict(x_train)
y_test_pred=dt_model.predict(x_test)

In [42]:
from sklearn.metrics import accuracy_score,log_loss

In [43]:
print("training score is:",np.round(accuracy_score(y_train,y_train_pred)))
print("Test score is:",np.round(accuracy_score(y_test,y_test_pred)))

training score is: 1.0
Test score is: 1.0

In [44]:
dt=DecisionTreeClassifier(criterion="gini")

In [45]:
dt_model_gini=dt.fit(x_train,y_train)

In [57]:
y_train_pred_gini=dt_model_gini.predict(x_train)
y_test_pred_gini=dt_model_gini.predict(x_test)

In [58]:
from sklearn.metrics import accuracy_score,log_loss

In [59]:
print("training score is:",np.round(accuracy_score(y_train,y_train_pred)))
print("Test score is:",np.round(accuracy_score(y_test,y_test_pred)))

training score is: 1.0
Test score is: 1.0